

<div class="row">

  <div class="col-lg-12 p-5" >
    <div class="d-flex align-items-start align-items-lg-center justify-content-center">
      <div class="row justify-content-center w-100">
        <div class="col-lg-11" style="padding: 20px!important;">
          <h4 class="f-w-700 f-s-30 m-0 m-t-20 lh-base text-center" >
            Edit MagicBag
          </h4>


          <form class="m-t-30" [formGroup]="form" (ngSubmit)="update()">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="name" />
              @if(f['name'].touched && f['name'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['name'].errors &&
                  f['name'].errors['required']) {
                    <div class="text-error">Name is required.</div>
                  } @if(f['name'].errors &&
                f['name'].errors['minlength']) {
                  <div class="text-error">

                  </div>
                }
                </mat-hint>
              }
            </mat-form-field>

            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Price</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input type="number" matInput formControlName="price" />
              @if(f['price'].touched && f['price'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['price'].errors &&
                  f['price'].errors['required']) {
                    <div class="text-error">Price is required.</div>
                  }


                </mat-hint>
              }
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100" color="primary">
              <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Description</mat-label>
              <textarea matInput formControlName="description" placeholder="Ex. Descriptions "></textarea>
              @if(f['description'].touched && f['description'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['description'].errors &&
                  f['description'].errors['required']) {
                    <div class="text-error">Description is required.</div>
                  }
                </mat-hint>
              }
            </mat-form-field>

            <div style="padding-bottom: 20px!important;">

              <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid" >
                Update Bag
              </button>
            </div>

            <!-- input -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
