<div class="row">

  

  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>
        <p style="color: Green;  text-align: center">Welcome to waste reducing application </p>

      </mat-card-title>
    </mat-card-content>
  </mat-card>

</div>

<!--<div class="row">-->
<!--  <div class="col-lg-4">-->
<!--    <app-upcoming-schedules></app-upcoming-schedules>-->
<!--  </div>-->
<!--  <div class="col-lg-8">-->
<!--    <app-top-employees></app-top-employees>-->
<!--  </div>-->
<!--</div>-->

<!--<app-blog></app-blog>-->
